.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.alert {
  background-color: #fad7da;
  color: rgb(255, 54, 54);
  border-color: rgb(255, 54, 54);
  border-style: solid;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  padding-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Logo {   /* logo styling */
  height: 50vh;  
}

:root
{
  --amplify-primary-color: #0091ff;
  --amplify-primary-tint: #0073c9;
  --amplify-primary-shade:  #0073c9;
}

.title1 {
  background-color:#909090;
  padding: 3vh;
  color: black;
  margin: 0vh;
}

.title2{
  padding-top: 2vh;
  margin: 0vh;
}

.pageContent {
  background-color: white;
  color: black;
  padding: 5px;
}

.paragraph {
  text-align: center;
  line-height: 2;
}

.startBtn {
  margin: 20px;
  display: inline-block;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.startBtn:hover {background-color: #2c662e}

.startBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.startBtn:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

.detailBtn {
  margin: 20px;
  display: inline-block;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.detailBtn:hover {background-color: #003e90}

.detailBtn:active {
  background-color: #003e90;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.detailBtn:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}
.task-finished{
  color: green;
}

.task-incomplete{
  color: #b13027;
}

.found-file{
  color: #005c29;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  background-color: #d8d8d8d8;
  border-radius : 20px;
  height: 30px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, #F2709C, #FF9472);
  box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
  border-radius: 20px;
  display : flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 100%;
  width : 0;
  transition: 1s ease 0.1s;
  transition-delay:0s;
}

ul {
  padding-left: 0;
  display: table;
  margin: 0 auto;
}

.stopBtn {
  margin: 20px;
  display: inline-block;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.stopBtn:hover {background-color: #b13027}

.stopBtn:active {
  background-color:  #b13027;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.stopBtn:disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

/* progress bar css */
#myProgress {
  display: inline-block;
  margin: 10px;
  width: 45%;
  background-color: grey;
}

#myProgressBar {
  width: 0%;
  height: 30px;
  background-color: green;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white; 
}
/* end progress bar css */

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown .dropbtn:hover {
  background-color: #ddd;
  color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style page content */
.main {
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 20px) {
  .navbar {padding-top: 15px;} /* NONE OF THE STUFF IN THE @media IS TESTED*/
  .navbar a {font-size: 18px;}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
